.header {
    white-space: nowrap;
    text-align: center;
}

.title, .material-icons {
    font-size: 80px;
    font-family: Fredoka One;
    display: inline-block;
}

.footer {
    display: flex;
    justify-content: center
}

.copyright {
    font-size: 23px;
    font-family: Fredoka One;
    display: inline-block;
}