.header {
    white-space: nowrap;
    text-align: center;
}

.title, .material-icons {
    font-size: 80px;
    font-family: Fredoka One;
    display: inline-block;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    font-family: Fredoka One;
    font-size: 20px;
}

.controls, .size_controls, .color_controls  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
}

.controls {
    margin: 3em;
}

input[type='color'] {
    width: 75px;
    height: 75px;
}

button {
    display: block;
    font-family: Fredoka One;
    font-size: 20px;
    padding: 10px 15px;
    width: 100%;
}

button.active {
    background-color: #333;
    color: #ededed
}

#sizeSlider {
    width: 100%;
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
    border: 0.1rem solid black;
}

.square {
    border: 0.1rem solid black;
}

.footer {
    display: flex;
    justify-content: center
}

.copyright {
    font-size: 23px;
    font-family: Fredoka One;
    display: inline-block;
}