.header {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.spacer {
    height: 100px;
    width: 100px;
}

.title, .material-icons {
    font-size: 80px;
    font-family: Fredoka One;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Fredoka One;
    font-size: 20px;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.controls, .size_controls, .color_controls  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 230px;
}

.controls {
    margin-right: 3em;
}

.size_controls {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.size_value {
    width: 33%
}

.size_value, .rowSlider, .columnSlider {
    flex: 1;
}

input[type='color'] {
    width: 75px;
    height: 75px;
}

button {
    display: block;
    font-family: Fredoka One;
    font-size: 20px;
    padding: 10px 15px;
    width: 100%;
}

button.active {
    background-color: #333;
    color: #ededed
}

.grid_wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
}

.grid {
    display: grid;
    width: 600px;
    height: 600px;
}

.square {
    margin: 0 -0.1rem -0.1rem 0;
}

.footer {
    display: flex;
    justify-content: center;
}

.copyright {
    font-size: 10px;
    font-family: Fredoka One;
    display: inline-block;
}